<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <div></div>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
	{% for item in site.data.navlist.docs %}
	<a href="{{ item.url }}" class="btn">{{ item.pagetitle }}</a>
	{% endfor %}

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div style="width:500px; margin: 0 auto; padding-bottom: 20px">
          <div style="width:10%; margin: 18px; float:left">
            <a href="http://twitter.com/nojustesen">
              <img src="assets/img/twitter.png" style="height:48px">
            </a>
          </div>
          <div style="width:10%; margin: 18px; float:left">
            <a href="http://github.com/njustesen">
              <img src="assets/img/github.png" style="height: 48px">
            </a>
          </div>
          <div style="width:10%; margin: 18px; float:left">
            <a href="https://scholar.google.dk/citations?user=i5a0pMAAAAAJ">
              <img src="assets/img/scholar.png" style="height: 48px">
            </a>
          </div>
          <div style="width:10%; margin: 18px; float:left">
            <a href="https://www.youtube.com/channel/UC-lNEnjclULi7W0tSf3kcbw">
              <img src="assets/img/youtube.png" style="height: 48px">
            </a>
          </div>
          <div style="width:10%; margin: 18px; float:left">
            <a href="https://www.linkedin.com/in/niels-justesen-7b37042a">
              <img src="assets/img/linkedin.png" style="height: 48px">
            </a>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
